CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6SABRESD=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/freescale/mx6sabresd/mx6q_sabresd_c_1g.cfg,MX6Q,SYS_USE_SPINOR,MAIN_BOARD_IS_C,CPU_TYPE_IS_Q"
CONFIG_CMD_GPIO=y
